.banner {
    background-image: url("../../images/Cover/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vmax;
    display: flex;
    position: relative;
    z-index: 5;
}
.dummy {
    height: 20vmax;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.298);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Adjust the values as needed for your design */
}
.dummy > h1 {
    z-index: 10;
    color: #93942d;
    font-size: 4vmax;
}
.dummy > p {
    z-index: 10;
    text-align: center;
    font-size: 1.4vmax;
    color: #99b080;
}
.dummy > h2 {
    z-index: 10;
    color: #93942d;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.5vmax;
}
.dummy > button {
    margin-top: 2vmin;
    z-index: 10;
    height: 3vmax;
    width: 10vmax;
    color: white;
    background-color: #96bf61;
    border: none;
    border-radius: 10px;

    transition: all 0.5s;
}
.dummy > button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.476);
    background-color: #979936;
}
.dummy-bloops-1 {
    height: 35vmax;
    width: 30vmin;
    border-radius: 50vmax; /* Use 50% of the height for a rounded pill effect */
    background-color: #b0e07272;
    position: absolute;
    top: -80%;
    left: 40%;
    transform: rotate(45deg);
}
.dummy-bloops-2 {
    height: 25vmax;
    width: 30vmin;
    border-radius: 50vmax; /* Use 50% of the height for a rounded pill effect */
    background-color: #b0e07272;
    position: absolute;
    top: -70%;
    right: 0%;
    transform: rotate(45deg);
}
.dummy-bloops-3 {
    height: 25vmax;
    width: 30vmin;
    border-radius: 50vmax; /* Use 50% of the height for a rounded pill effect */
    background-color: #b0e07272;
    position: absolute;
    top: 60%;
    left: -5%;
    transform: rotate(45deg);
}
.banner > a {
    margin-bottom: 5vmax;

    cursor: pointer;
    position: absolute;
    top: 80%;
    right: 15%;
    text-align: center;
    text-decoration: none;
    margin-top: 2vmin;
    padding: 10px;
    text-align: center;
    width: 10vmax;
    color: white;
    background-color: #96bf61;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.5s;
}
.banner > a:hover {
    background-color: #979936;
    color: white;
}

.homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
}

.container {
    display: flex;

    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard {
    width: 20vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard > img {
    width: 15vmax;
}

.productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
}

.productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

    transform: translateY(-0.5vmax);
}

@media screen and (max-width: 600px) {
    .productCard > p {
        font-size: 1.7vmax;
    }

    .productCard > div {
        margin: 0vmax;
        display: block;
    }

    .productCard > span {
        font-size: 1.5vmax;
    }

    .productCard > div > span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }
}
